@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./themes/light.css";
@import "./themes/dark.css";
@import url(./animation.css);

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 4px;

  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
