.dark {
  --primary: #DCB84F;
  --background: 0deg 0% 7%;
  --foreground: 0deg 0% 92.9%;
  --foreground-muted: 0deg 0% 62%;
  --bg-hover: 0deg 0% 18.4%;
  --overlay: 0deg 0% 10%;
  --colors-gray-dark-100: 0deg 0% 8.6%;
}
